/.data
# nixago: ignore-linked-files
/lefthook.yml
/.editorconfig
/.conform.yaml
/treefmt.toml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
